<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Sentry - Website Monitoring</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
</head>

<body class="font-sans">


    <main class="container mx-auto p-0">
        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p class="footer-logo">Web Sentry</p>
        <p>&copy; 2024. All rights reserved.</p>
    </footer>

</body>

</html>